/* CSS for MiroXBlock */

.miroblock_block .count {
    font-weight: bold;
}

.miroblock_block p {
    cursor: pointer;
}



.mybutton{
    
        transition: background-color 0.15s,box-shadow 0.15s;
        box-shadow: 0 1px 0 rgb(255 255 255 / 30%) inset, 0 0 0 transparent;
        display: inline-block;
        padding: 4px 20px 5px;
        background-color: rgba(255,255,255,0.3);
        background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0));
        background-image: linear-gradient(to bottom,rgba(255,255,255,0.3),rgba(255,255,255,0));
        border: 1px solid #0075b4;
        border-radius: 3px;
        background-color: #0075b4;
        color: #fff;
        border-color: #005e90;
        color: #fff;
    
}